.shadetabs{padding:3px 0;margin-left:0;margin-top:1px;margin-bottom:0;font:bold 12px Verdana;list-style-type:none;text-align:left;}
.shadetabs li{display:inline;margin:0;}
.shadetabs li a{text-decoration:none;position:relative;z-index:1;padding:3px 7px;margin-right:3px;border:1px solid #778;color:#2d2b2b;background:white url(img/shade.gif) top left repeat-x;}
.shadetabs li a:visited{color:#2d2b2b;}
.shadetabs li a:hover{text-decoration:underline;color:#2d2b2b;}
.shadetabs li a.selected{position:relative;top:1px;}
.shadetabs li a.selected{background-image:url(img/shadeactive.gif);border-bottom-color:white;}
.shadetabs li a.selected:hover{text-decoration:none;}
.tabcontent{display:none;}
@media print{.tabcontent{display:block !important;}
}
div.block_name{font-weight:bolder;color:#FFFFFF;}
div{font-size:12px;}
a{font-weight:bold;color:#0099FF;text-decoration:none;cursor:url('skins/l2i/cursors/hand.cur') auto;}
a:hover{color:#FFFFFF;text-decoration:underline;font-weight:bold;}
#valid{height:77px;right:0px;position:fixed;bottom:0px;width:85px;z-index:2;}
#frm{height:150px;left:0;position:fixed;top:0;width:150px;z-index:2;}
table{border-collapse:collapse;font-size:12px;}
td.maxCp{color:orange;}
td.maxHp{color:red;}
td.maxMp{color:#0099ff;}
tr, td.header{font-weight:bold;font-size:16px;}
tr, td.content{font-size:14px;}
li.vote{color:#efde05;}
tr.altRow{background-color:#505050;}
td.records{color:#a1967c;}
td.noborder{border-bottom-width:0;border-left-width:0;border-right-width:0;border-top-width:0;}
ol, ul, li.left{text-align:left;}
input.login{border:0 none;background:url("img/login_text.gif") 0% 0% no-repeat scroll transparent;color:rgb(217, 222, 218);width:129px;}
.style3{font-size:16px;font-weight:bold;color:#7fff00;}
.style7{font-weight:bold;color:#ff4500;}
td, pre{font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;font-size:11px;color:#ffffff;margin:5px;}
.error{color:#990000;padding:7px;margin-top:5px;margin-bottom:10px;border:1px dashed #990000;}
.error b{color:#990000;background:inherit;}
.success{color:#7ba813;padding:7px;margin-top:5px;margin-bottom:5px;border:1px dashed #7ba813;}
.success b{color:#7ba813;background:inherit;}
h1{font-size:16px;color:#7ba813;text-align:center;font-weight:bold;}
h2{font-size:16px;color:#7daa94;text-align:center;}
h3{font-size:16px;color:teal;text-align:center;}
h4{font-size:16px;color:#fecc64;text-align:center;}
.online_stat_table{border:1px solid #fffff5;width:100%;}
.tcclass{width:100%;}
.b1{border-bottom:1px solid #a1967c;}
.b2{border-right:1px solid #a1967c;background-color:#223140;color:#beb49c;font-weight:bold;}
.b3{border-right:1px solid #a1967c;border-bottom:5px solid #a1967c;}
a.male{color:#688595;text-decoration:none;}
a.female{color:#d02090;text-decoration:none;}
.alert{width:100%;padding:1em;color:#cc6666;font-size:220%;text-align:justify;}
input.button{border:3px ridge #4e0901;font-weight:bold;background-color:#4e0901;color:aqua;}
#castleinfo{font-family:Arial, Helvetica, sans-serif;font-size:10px;color:#000000;visibility:visible;position:absolute;width:160px;height:347px;z-index:8;left:40px;top:200px;overflow:auto;}
#adeninfo{visibility:hidden;}
#dioninfo{visibility:hidden;}
#giraninfo{visibility:hidden;}
#gludioinfo{visibility:hidden;}
#innadrilinfo{visibility:hidden;}
#oreninfo{visibility:hidden;}
#godadinfo{visibility:hidden;}
#castleinfo strong{font-family:Verdana, Arial, Helvetica, sans-serif;}